Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AccessModifierOffset: -4
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: All
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false